* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: #fff;
  overflow: hidden;
  background-image: url("../img/memorial.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.views-view-grid.horizontal {
  margin-bottom: 40px;
}

.layout-content h1 {
  font-family: 'Playfair Display', serif;
  margin-top: 80px;
  margin-bottom: 40px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.layout-content h1:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #d1af2b;
}

.layout-content h1:first-child {
  margin-top: 0;
}

h3, p {
  font-family: 'Raleway', sans-serif;
}

.layout-content h3, .layout-content img {
  margin: 0;
  margin-bottom: 25px;
}

.hof-line-1 {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  margin: 0;
  margin-bottom: 15px;
}

.hof-line-1, .hof-line-2, .hof-line-3 {
  width: 220px;
}

.hof-line-1 a {
  color: #fff;
  text-decoration: none;
}

.hof-line-2 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.hof-line-3 {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
}

.layout-container .main {
  display: grid;
  padding: 0 80px;
  grid-template-columns: 25% 72%;
  grid-column-gap: 40px;
}

.layout-container .layout-content,
.layout-container .layout-sidebar-left {
  height: 100vh;
}

.layout-content {
  overflow-y: scroll;
  padding-top: 80px;
  padding-left: 40px;
}

.layout-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Sorry for adding this hack... :( */
.views-view-grid.horizontal:last-child {
  padding-bottom: 100px;
}

.hof-logo {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, .9);
}

.hof-description {
  line-height: 2;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 14px;
}

.as-logo {
  padding-bottom: 80px;
  border-top: 2px solid #d1af2b;
}

.as-logo img {
  max-width: 100%;
  margin-bottom: 0;
  max-height: 100px;
  margin-top: 65px;
}

.layout-sidebar-left > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hof-logo, .layout-content img, .inductee-modal, .inductee-portrait {
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
}

.layout-content img,
.inductee-portrait {
  border-radius: 2px;
}

.hof-logo {
  border-radius: 0 0 2px 2px;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  font-family: 'Raleway', sans-serif;
}

.inductee-modal {
  width: 1600px;
  height: 760px;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
}

.inductee-portrait {
  position: absolute;
  left: 80px;
  top: -40px;
}

.back-arrow {
  position: absolute;
  top: 70px;
  left: 640px;
  color: #63656A;
  font-size: 20px;
  z-index: 1000;
  padding: 20px;
}

.inductee-details {
  position: absolute;
  top: 80px;
  left: 660px;
  right: 80px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inductee-details .year {
  height: 40px;
  width: 90px;
  margin: 0 auto;
  background-color: #202c5f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.inductee-details .display-name {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  color: #202c5f;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.degrees-container, .department-container {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.25px;
  margin-top: 10px;
  color: #2C2A29;
}

.degrees-container,
.department-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.degree-1, .degree-2, .degree-3 {
  display: flex;
}

.degree-1 > div:first-child::after,
.degree-2 > div:first-child::after,
.degree-3 > div:first-child::after {
  content: " ";
  white-space: pre;
}

.inductee-details .biography {
  height: 250px;
  overflow-y: scroll;
}


.inductee-details .biography > div > p {
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0.25px;
  line-height: 2;
}

.inductee-details .biography > div > p:first-child {
  margin-top: 0;
}

.inductee-details .biography > div > p:last-child {
  margin-bottom: 0;
}

.inductee-details .inductee-btn {
  height: 60px;
  width: 225px;
  border-radius: 500px;
  border: 3px solid #202c5f;
  background-color: transparent;
  color: #202c5f;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.inductee-details .button-group {
  margin: 0 auto;
}

.inductee-details .inductee-btn:active {
  background-color: rgba(32, 44, 95, .1);
}

.inductee-details .inductee-btn:nth-child(2) {
  margin-left: 50px;
}
