* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: #ffffff;
  overflow: hidden;
  background-image: url("../img/memorial.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.views-view-grid.horizontal {
  margin-bottom: 40px;
}

h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  margin-bottom: 40px;
}

h3, p {
  font-family: 'Raleway', sans-serif;
}

.layout-content h3, .layout-content img {
  margin: 0;
  margin-bottom: 25px;
}

.hof-line-1 {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  margin: 0;
  margin-bottom: 15px;
}

.hof-line-1 a {
  color: #ffffff;
  text-decoration: none;
}

.hof-line-2 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.hof-line-3 {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
}

.layout-container .main {
  display: grid;
  padding: 0 80px;
  grid-template-columns: 25% 70%;
  grid-column-gap: 80px;
}

.layout-container .layout-content,
.layout-container .layout-sidebar-left {
  height: 100vh;
}

.layout-content {
  overflow-y: scroll;
  padding-top: 80px;
}

.hof-logo {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, .9);
}

.hof-description {
  line-height: 2;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.as-logo {
  padding-bottom: 80px;
  border-top: 2px solid #D1AF2B;
}

.as-logo img {
  max-width: 100%;
  margin-bottom: 0;
  max-height: 100px;
  margin-top: 65px;
}

.layout-sidebar-left > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
